{% load static %}

{% with constants.names.PROJECT_NAME as project_name %}
    <!DOCTYPE html>
    <html lang="de">
        <head>
            <title>{{ project_name }}</title>
            <style>
                @font-face {

                }
            </style>
            <link rel="stylesheet" href="{% static 'index.css' %}">
            <link rel="stylesheet" href="{% static 'fontawesome/all.min.css' %}">
        </head>
        <body>
            <div class="container">
                <h1>{{ project_name }}</h1>
                <div class="advantages">
                    <div class="advantage">
                        <i class="fas fa-user-lock"></i>
                        <p>Sicheres Speichern der Daten</p>
                    </div>
                    <div class="advantage">
                        <i class="fas fa-comment-alt"></i>
                        <p>Benachrichtigung bei Änderungen</p>
                    </div>
                    <div class="advantage">
                        <i class="fas fa-plane"></i>
                        <p>Offline verfügbar</p>
                    </div>
                    <div class="advantage">
                        <i class="fas fa-shipping-fast"></i>
                        <p>Superschnelle App</p>
                    </div>
                    <div class="advantage">
                        <i class="fas fa-eye-slash"></i>
                        <p>Kein Ausspionieren</p>
                    </div>
                    <div class="advantage">
                        <i class="fas fa-sticky-note"></i>
                        <p>Hausaufgaben verwalten</p>
                    </div>
                    <div class="advantage">
                        <i class="fas fa-clock"></i>
                        <p>Materialien verzögert hochladen</p>
                    </div>
                    <div class="advantage">
                        <i class="fas fa-mobile"></i>
                        <p>Sauwenig mobile Daten</p>
                    </div>
                </div>
                <div class="happy_talk">
                    <p>
                        Wie kann ich {{ project_name }} benutzen?
                    </p>
                    <ol>
                        <li>
                            <p>Lade dir {{ project_name }} runter</p>
                        </li>
                        <li>
                            <p>Gib deinen Zugangscode ein & registriere dich</p>
                        </li>
                        <li>
                            <p>Genieße deine neue Stundenplan-App!</p>
                        </li>
                    </ol>
                    <p>
                        <strong>Wie bekomme ich den Zugangscode?</strong>
                        Damit sichergestellt ist, dass nur Schülerinnen und Schüler die App bekommen,
                        musst du dir einen Code holen.
                    </p>
                </div>
                <div class="action">
                    <button>
                        {{ project_name }} runterladen
                    </button>
                    <button class="passive">
                        Zugangscode erhalten
                    </button>
                </div>
            </div>
        </body>
    </html>
{% endwith %}