* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", Roboto, Roboto-Regular, Roboto Regular, Helvetica Neue, Google Sans, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 400px) {
    .flex {
        flex-direction: row;
    }
}

@media (min-width: 600px) {
    .flex {
        justify-content: center;
    }

    h1 {
        margin-left: 1em;
    }
}

.container {
    background: #fff;
    padding: 2em;
}

@keyframes animateTitle {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

h1 {
    margin-top: .4em;
    margin-bottom: .4em;
}

h1, h2 {
    color: #444;
    font-size: 4rem;
    font-family: "Quicksand", Quicskand, Quicksand-Regular, Arial, sans-serif;
    text-align: center;

    animation: animateTitle 1s cubic-bezier(.04, .37, .34, .84);
}

h2 {
    animation: none;
    font-size: 1.68rem;
    text-align: left;
}

p, i, li {
    color: #888;
    font-size: 1rem;
}

.advantages {
    display: flex;
    flex-direction: column;
    padding: 1em .3em;
}

@keyframes flyInAnimation {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

.advantage {
    display: flex;
    align-items: center;
    opacity: 0;

    animation: flyInAnimation .4s ease-out forwards;
}

.advantages > .advantage:nth-child(2) {
    animation-delay: .1s
}

.advantages > .advantage:nth-child(3) {
    animation-delay: .2s
}

.advantages > .advantage:nth-child(4) {
    animation-delay: .3s
}

.advantages > .advantage:nth-child(5) {
    animation-delay: .4s
}

.advantages > .advantage:nth-child(6) {
    animation-delay: .5s
}

.advantages > .advantage:nth-child(7) {
    animation-delay: .6s
}

.advantages > .advantage:nth-child(8) {
    animation-delay: .7s
}

.advantages > .advantage:nth-child(9) {
    animation-delay: .7s
}

.advantages > .advantage:nth-child(10) {
    animation-delay: .8s
}

.advantages > .advantage:nth-child(11) {
    animation-delay: .9s
}

.advantages > .advantage:nth-child(12) {
    animation-delay: 1s
}

.advantage > i {
    flex-basis: 10%;
    font-size: 1.5rem;
    color: #ccc;
}

.advantage > p {
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-left: .5em;
    color: #aaa;
}

summary {
    border: none;
    background-color: #22b7f3;
    color: #fff;
    padding: .7em;
    font-size: 1rem;
    border-radius: .5em;
    font-weight: 600;
    width: fit-content;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

.action {
    display: flex;
}

.action a {
    color: #22b7f3;
}

#use_chrome * {
    text-decoration: underline #ffa700;
    color: #ffa700;
}

@media (min-width: 600px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    .container {
        box-shadow: 0 0 .8rem rgba(0, 0, 0, .1);
        max-width: 35rem;
        max-height: 80vh;
        overflow-y: scroll;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 70rem;
        width: 70rem;
        overflow: hidden;
    }

    .advantages {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .advantage {
        flex: 50% 0 1;
        padding: 1em;
    }
}
